<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <Br>First name: <%= f.text_field :first_name %>
  <Br>Last name: <%= f.text_field :last_name %>
  <Br>Email: <%= f.text_field :email %>
  <Br>Password: <%= f.password_field :password %>
  <Br>Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>